/* Global Rules */
/* Normal font-family: 'Poppins', sans-serif; */
/* H1 title font-family: 'Libre Baskerville', serif; */
/* Footer font-family: 'Dancing Script', cursive; */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Reuseable Component */
.container {
  max-width: 1480px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 55px;
  font-weight: 800;
  font-style: italic;
  color: #2f3031;
  border-left: 5px solid #05fab8;
  padding-left: 15px;
}
h2 {
  font-size: 45px;
  font-style: italic;
  color: #2f3031;
  text-align: center;
  margin: 30px 30px;
}
h3 {
  font-size: 35px;
  color: #2f3031;
  font-style: italic;
}
h5 {
  font-family: "Dancing Script", cursive;
  font-size: 35px;
  padding: 30px;
}
h5 span {
  color: #05fab8;
}

.span-color {
  color: #e3c5a5;
}
.btn {
  background-color: #05fab8;
  color: #000000;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 5px;
  letter-spacing: 2px;
}
/* Hero Section */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.hero-title {
  width: 50%;
}
.hero-img {
  width: 400px;
  border-radius: 50%;
}
/* Card Section */
#card {
  margin-bottom: 50px;
}
.card-items {
  display: flex;
  justify-content: space-between;
}
.card-items .items {
  width: 31%;
  height: auto;
  padding: 20px;
  background-color: pink;
  border-radius: 20px;
}
.items:nth-child(1){
    background: #81ecec42;
}
.items:nth-child(2){
    background: #ffeaa73f;
}
.items:nth-child(3){
    background: #fab0a02c;
}
.card-items img {
  width: 150px;
}
/* Blog Section */
#blog {
  margin: 50px 50px;
}

.blog-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-details {
  width: 65%;
}
.blog-img img {
  width: 350px;
}
/* Footer Section */
footer {
  background-color: #2f3031;
  text-align: center;
  color: #ffffff;
}
footer p {
  padding-bottom: 40px;
}
