/* Global Rules */
/* Normal font-family: 'Poppins', sans-serif; */
/* Footer font-family: 'Playfair Display SC', serif; */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}
body {
  font-family: "Poppins", sans-serif;
}
/* Reuseable Component */
.container {
  max-width: 1480px;
  width: 80%;
  margin: 0 auto;
}

h1 {
  font-size: 55px;
  font-weight: 800;
  font-style: italic;
  color: #2f3031;
  border-left: 5px solid #05fab8;
  padding-left: 15px;
}
h2 {
  font-size: 45px;
  font-style: italic;
  color: #2f3031;
  text-align: center;
  margin: 30px 30px;
}
h3 {
  font-size: 35px;
  color: #2f3031;
  font-style: italic;
}
h5 {
  font-family: "Playfair Display SC", serif;
  font-size: 35px;
  padding: 30px;
  letter-spacing: 2px;
}
h5 span {
  color: #05fab8;
}
h6 {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 20px;
  text-align: center;
}
p {
  text-align: justify;
}
.span-color {
  color: #e3c5a5;
}
.btn {
  background-color: #05fab8;
  color: #000000;
  font-weight: 600;
  padding: 10px 10px;
  border-radius: 5px;
  letter-spacing: 2px;
}
/* Hero Section */
#hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.hero-title {
  width: 50%;
}
.hero-img {
  width: 400px;
  border-radius: 50%;
}
/* Card Section */
#card {
  margin-bottom: 50px;
}
.card-items {
  display: flex;
  justify-content: space-between;
}
.card-items .items {
  width: 31%;
  height: auto;
  padding: 20px;
  background-color: pink;
  border-radius: 20px;
}
.items:nth-child(1) {
  background: #81ecec42;
}
.items:nth-child(2) {
  background: #ffeaa73f;
}
.items:nth-child(3) {
  background: #fab0a02c;
}
.card-items img {
  width: 150px;
}
/* Blog Section */
#blog {
  margin: 50px 50px;
}

.blog-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.blog-details {
  width: 65%;
}
.blog-img img {
  width: 350px;
}
/* Form Section */
#form form {
  width: 600px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
input {
  width: 100%;
  height: 50px;
  border-width: 0 0 3px;
  border-color: #05fab8;
  font-weight: 600;
}
input:focus {
  outline: none !important;
}
input::placeholder {
  color: #b2b4b6;
  letter-spacing: 2px;
}
textarea {
  width: 100%;
  height: 50px;
  border-width: 0 0 3px;
  border-color: #05fab8;
  font-weight: 600;
}
textarea:focus {
  outline: none !important;
}
textarea::placeholder {
  color: #b2b4b6;
  letter-spacing: 2px;
}

form .btn {
  text-align: center;
}
/* Footer Section */
footer {
  background-color: #2f3031;
  text-align: center;
  color: #ffffff;
}
